<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>고객 정보 수정</title>
<style>
input {
	border: 1px solid gray;
	border-radius: 2px;
	border-left: none;
	border-right: none;
	border-top: none;
}

table {
	border-collapse: collapse;
}

button {
	border: 1px solid gray;
	border-left: none;
	border-right: none;
	border-top: none;
}

input:hover {
	background-color: silver;
}

button:hover {
	background-color: silver;
}
</style>
</head>
<body>
	<hr>
	<h4 align="center">고객 정보</h4>
	<hr>
	<br>
	<form th:action="@{/user/updateUser}" method="post">
		<table th:align="center" border="2" th:cellpadding="10" th:width="500">
			<tr>
				<td th:text="user_id" width="80"></td>
				<td><input name="user_id" type="hidden"
					th:value="${member.user_id}"> <input name="user_id"
					type="text" th:value="${member.user_id}"></td>
			</tr>
			<tr>
				<td th:text="password" width="80"></td>
				<td><input name="password" type="text"
					th:value="${user.password}"></td>
			</tr>
			<tr>
				<td th:text="name" width="80"></td>
				<td><input name="name" type="text" th:value="${user.name}"></td>
			</tr>
			<tr>
				<td th:text="point" width="80"></td>
				<td><input name="point" type="text" th:value="${user.point}"></td>
			</tr>
			<tr>
				<td th:text="role" width="80"></td>
				<td><input name="role" type="text" th:value="${user.role}"></td>
			</tr>
			<tr>
				<td colspan="2" align="center"><input type="submit"
					value="수정하기">
			</tr>
		</table>
	</form>
	<br>
</body>
</html>