<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<html>
<head>
<meta charset="utf-8">
<title>Reply 고객센터페이지</title>
<link rel="shortcut icon" href="css/images/favicon.ico" sizes="16x16" />
<link rel="stylesheet" href="/css/style.css" > <!-- <link rel="stylesheet" th:href="/css/style.css" > -->
<link rel="stylesheet" href="/css/review.css"> <!-- <link rel="stylesheet" th:href="/css/review.css"> -->
</head>
<body>
<div id="wrapper">
    <header>
    <div class="shell">
      <h1 id="logo"><a href="index.html">Busymode</a></h1>
      <nav id="navigation">
        <ul>
       
          <li class="active"> 
          	  <a th:href="login.html">로그인</a></li>
          <li><a th:href="signUp.html">회원가입</a></li>
          <li><a href="#">마이페이지</a></li>
          <li><a href="#">베스트</a></li>
          <li><a th:href="getReviewList">신상품</a></li>
          <li><a href="#">이벤트</a></li>
           <li><a th:href="getReplyList">고객센터</a></li>
        </ul>
      </nav>
    </div>
  </header>
 <br> <br><br><br><br><br><br><br>
 
<!-- 배송 교환 환불 배너 -->
	<div class="shell123">
	  <nav  id="navigation">
	    <div id="logo_under"  > 
	        <ul >
	       	  <li><a href="#">배송</a></li> <!-- th: -->
	          <li><a href="#">교환</a></li>
	          <li><a href="#">환불</a></li>
	        </ul>     
		</div>
	  </nav>
	 </div>
 		
 	<div class="test">
	 	<div class="tin">
	 		Reply
	 	</div>
 	</div>
 	
 	 
 <!-- Reply 입력 -->
<div class="con reply">	
	   <section class="reply-form">
	        <form th:action="@{/insertReply}" method="post">
	            <div>
	            	문의 항목: <select id="genre" name="genre">
	            	<option value="배송">배송</option>
	            	<option value="교환">교환</option>
	            	<option value="환불">환불</option>
	            	</select>
	            </div>
	            <div>
	              문의 제목:  <input id="title" type="text" name="title"> 
	            </div>
	            <div>	       
	                <textarea id="content" cols="130" rows="10" name="content"  placeholder=" 문의내용을 입력해주세요."></textarea>
	                &nbsp;&nbsp;&nbsp; 
	               <input type="submit" value="답변 등록">
	            </div>
	        </form>
	    </section>
	</div>
	
		 <br> <br><br><br>
<h1 class="con">문의 목록</h1>
<div class="con reply">
    <section class="article-detail table-common con row">
        <table class="cell" border="1">
            <colgroup>
                <col width="100px">
            </colgroup>
            <tbody>
            <div id="ReplyTable">
            	<th:block th:each="reply:${replyList}" class="article-title"><!--ReplyList 이름이 controller와 동일해야한다. -->
            	<form method="POST">
	                <tr class="article-title">
	                    <th>날짜</th>
	                       <td colspan="4" th:text="${#dates.format(reply.regdate, 'yyyy-MM-dd')}" ></td>
	                </tr>
	                <tr class="article-info">
	                     <th >작성자</th>
	                     <td th:text="${reply.member.user_id}"></td>
	                      <th >문의 항목</th>
	                      <td th:text="${reply.genre}"></td>
	                </tr>
	                <tr class="article-body">
	                	<td colspan="4" th:text="${reply.content}">리뷰 내용</td>
	                </tr>
                 </form>
              </th:block>
              </div>
            </tbody>
        </table>
    </section>
</div>
</div>

	<!-- 페이징처리 -->
	<div class="pagination">
		<ul>
			<li th:each="page: ${#numbers.sequence(0,totalPage-1)}"><!-- 0페이지 부터 나와야 함! -->
		<a th:href="@{getReply(page=${pageStat.index})}" th:text="${pageStat.index +1}"></a> 
			 <!-- @{review/getReviewList$%^%$}아님!!! controller에 requestParam을 안해줬기 때문에! -->
		 </li>
		</ul>
	</div>
	
 </body>
</html>