<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>로그인 페이지 입니다.</title>
<link rel="stylesheet" href="/css/style.css" >
<link rel="stylesheet" href="/css/login.css">

</head>
<body>
<!-- header -->
  <header>
    <div class="shell">
      <h1 id="logo"><a href="index.html">Busymode</a></h1>
      <nav id="navigation">
        <ul>
       
          <li class="active"> 
          	  <a href="signUp/login.html">로그인</a></li>
          <li><a href="signUp/signUp.html">회원가입</a></li>
          <li><a href="#">마이페이지</a></li>
          <li><a href="#">베스트</a></li>
          <li><a href="review/getReviewList.html">신상품</a></li>
          <li><a href="#">이벤트</a></li>
           <li><a href="qna/QnaList.html">고객센터</a></li>
        </ul>
      </nav>
    </div>
  </header>
	<section class="top-section">
    <div class="shell">
 	<div class="login-form" >
		<form>
		
			<input type="text" name="email" class="text-field" placeholder="아이디">
			<input type="text" name="password" class="text-field" placeholder="비밀번호">
			<input type="submit" value="로그인" class="submit-btn"
		</form>	
	</div>
    </div>

  </section>
  
  
  
  
  
  
  <section class="top-section">
    <div class="shell">
      <!-- slider -->
      
        <div class="slider flexslider">
          
        </div>
      
      <!-- end of slider -->
      
    </div>
  </section>
	
</body>
</html>