<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>회원 가입 페이지 입니다.</title>
<link rel="stylesheet" href="/css/style.css" >
</head>
<body>
<!-- header -->
  <header>
    <div class="shell">
      <h1 id="logo"><a href="index.html">Busymode</a></h1>
      <nav id="navigation">
        <ul>
       
          <li class="active"> 
          	  <a href="login.html">로그인</a></li>
          <li><a href="signUp.html">회원가입</a></li>
          <li><a href="#">마이페이지</a></li>
          <li><a href="#">베스트</a></li>
          <li><a href="getReviewList.html">신상품</a></li>
          <li><a href="#">이벤트</a></li>
           <li><a href="#">고객센터</a></li>
        </ul>
      </nav>
    </div>
  </header>
<form method="post" action="/signUp">
    <div class="container">
        <h1>회원가입</h1>
        <div class="form-group">
            <label for="inputEmail4">userId</label>
            <input type="text" class="form-control" id="inputEmail4" name="userId" placeholder="사용자 아이디">
        </div>
        <div class="form-group">
            <label for="inputAddress">userName</label>
            <input type="text" class="form-control" id="inputAddress" name="userName" placeholder="사용자 이름">
        </div>
        <div class="form-group">
            <label for="inputPassword4">password</label>
            <input type="password" class="form-control" id="inputPassword4" name="userPw" placeholder="사용자 비밀번호">
        </div>
        <button type="submit" class="btn btn-primary">가입 완료</button>
    </div>
</form>
</body>
</html>